body { 
    color: #00CC00; 
    background: #222222;
    font-size: 12pt;
    font-style: normal;
    font-family: "Fixed", monospace;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5em;
}

a {
    color: black;
    background: green;
    font-size: 12pt;
    font-style: normal;
    font-family: "Fixed", monospace;
}

h1 {
    /*text-align: center;*/
    text-align: left;
}

h2 {
    /*padding-top: 40pt;*/
}

.menubar {
    text-align: right;
}

